.homeBg {
  background-image: url("./../assets/images/landing-image.png");
  background-size: cover, contain;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
}
